.nav-horizontal-container
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.nav-horizontal-container .logo
{
    width: 200px;
    text-align: left;
}
.nav-horizontal-container .logo img
{
    max-width: 100px;
    max-height: 30px;
    cursor: pointer;
}
.nav-horizontal-container .menu ul
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}
.nav-horizontal-container .menu ul a
{
    text-decoration: none;
    color: black;
}
.nav-horizontal-container .menu ul li
{
    list-style: none;
    font-size: 16px;
    font-weight: 400;
    margin: 0 20px;
    cursor: pointer;
}
.nav-horizontal-container .menu ul li:hover
{
    text-decoration: underline;
}
.nav-horizontal-container .search-bar
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    background: #F1F1F1;
    border-radius: 30px;
}
.nav-horizontal-container .search-bar img
{
    width: 18px;
    height: 18px;
}
.nav-horizontal-container .search-bar input
{
    border: none;
    outline: none;
    color: black;
    background: none;
    margin-left: 20px;
    font-size: 17px;
    font-weight: 400;
    max-width: 150px;
}
.nav-horizontal-container .search-bar input::placeholder
{
    font-size: 18px;
    font-weight: 400;
    color: black;
}
.nav-horizontal-container .nav-globe img
{
    width: 20px;
    height: 20px;
    cursor: pointer;
}
.nav-horizontal-container .account
{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.nav-horizontal-container .account img
{
    width: 20px;
    height: 20px;
}
.nav-horizontal-container .account p
{
    font-size: 16px;
    font-weight: 400;
    margin-left: 8px;
}
/* for vertical navbar */

.nav-vertical-container
{
    display: none;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: relative !important;
}
.nav-vertical-container .logo
{
    width: 200px;
    text-align: left;
}
.nav-vertical-container .logo img
{
    max-width: 100px;
    max-height: 30px;
    cursor: pointer;
}
.nav-vertical-container .nav-btn
{
    display: none;
}
.nav-btn .navBtnIcon
{
    font-size: 22px;
    cursor: pointer;
}
.nav-vertical-menuList
{
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background: lightblue;
    transform-origin: 100% 0;
    transition: transform .5s;
    transform: scaleY(0);
    border-radius: 10px;
    z-index: 1;
}
.nav-vertical-menuList .nav-vertical-menu ul a
{
    text-decoration: none;
    color: black;
}
.nav-vertical-menuList .nav-vertical-menu ul li
{
    list-style: none;
    font-size: 16px;
    font-weight: 400;
    margin: 10px 0;
    cursor: pointer;
    text-align: left;
}
.nav-vertical-menuList .nav-vertical-menu ul li:hover
{
    text-decoration: underline;
}
.nav-vertical-menuList .search-bar
{
    width: 200px;
    margin: 20px auto 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    background: #F1F1F1;
    border-radius: 30px;
}
.nav-vertical-menuList .search-bar img
{
    width: 18px;
    height: 18px;
}
.nav-vertical-menuList .search-bar input
{
    border: none;
    outline: none;
    color: black;
    background: none;
    margin-left: 20px;
    font-size: 17px;
    font-weight: 400;
    max-width: 150px;
}
.nav-vertical-menuList .search-bar input::placeholder
{
    font-size: 18px;
    font-weight: 400;
    color: black;
}
.nav-vertical-menuList .nav-globe
{
    text-align: left;
    margin: 20px auto 0 20px;
}
.nav-vertical-menuList .nav-globe img
{
    width: 20px;
    height: 20px;
    cursor: pointer;
}
.nav-vertical-menuList .account
{
    display: flex;
    justify-content: left;
    align-items: center;
    cursor: pointer;
    margin-left: 20px;
    padding-bottom: 10px;
}
.nav-vertical-menuList .account img
{
    width: 20px;
    height: 20px;
}
.nav-vertical-menuList .account p
{
    font-size: 16px;
    font-weight: 400;
    margin-left: 8px;
}
.hide-vertical-nav
{
    transform: scaleY(1);
}

/* --------------------------------------------- */

@media screen and (max-width: 1080px) {

    .nav-horizontal-container
    {
        display: none;
    }
    .nav-vertical-container
    {
        display: flex;
    }
    .nav-vertical-container .nav-btn
    {
        display: block;
    }

  }
